Resources/Data/COATEMPLATES/ACCOUNTS.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by 4D Application--><!ELEMENT Report_Heading (#PCDATA)><!ELEMENT Account_Code (#PCDATA)><!ELEMENT Account_Name (#PCDATA)><!ELEMENT PB (#PCDATA)><!ELEMENT IO (#PCDATA)><!ELEMENT Group_Heading (#PCDATA)><!ELEMENT No_NL_Postings (#PCDATA)><!ELEMENT Multicurrency_Valuation (#PCDATA)><!ELEMENT xLayerCodes (#PCDATA)><!ELEMENT xAnalysisCodes (#PCDATA)><!ELEMENT ACCOUNTS (Report_Heading?, Account_Code?, Account_Name?, PB?, IO?, Group_Heading?, No_NL_Postings?, Multicurrency_Valuation?, xLayerCodes?, xAnalysisCodes?)><!ELEMENT Root (ACCOUNTS*)>