Resources/Data/COATEMPLATES/HEADINGS.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by 4D Application--><!ELEMENT Heading_Code (#PCDATA)><!ELEMENT Heading_Name (#PCDATA)><!ELEMENT Heading_Level (#PCDATA)><!ELEMENT Level_Up_Code (#PCDATA)><!ELEMENT Group_Code (#PCDATA)><!ELEMENT AccCodeRangeFrom (#PCDATA)><!ELEMENT AccCodeRangeTo (#PCDATA)><!ELEMENT EnforceRange (#PCDATA)><!ELEMENT HEADINGS (Heading_Code?, Heading_Name?, Heading_Level?, Level_Up_Code?, Group_Code?, AccCodeRangeFrom?, AccCodeRangeTo?, EnforceRange?)><!ELEMENT Root (HEADINGS*)>